@layer theme, base, mui, components, utilities;
@import 'tailwindcss';


  /* pressure-indicator*/
  .css-1vrdpux text {
    fill: white !important;
  }

  /* location selector*/
  .css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input {
    color: white !important;
  }

  @media (min-width: 340px) {
    .css-1vrdpux text {
      font-size: 13px !important;
    }
  }
  